<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Testing nodejs</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <div class="myDiv"></div>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

    <script type="text/javascript" >
      $(document).ready(function(){
      //  $('.myDiv').append('<input type="text" name="" value="Hello HII">');
      var jsonOBJ = [];
        $.get( "../views/whereamii.html", function( data ) {
          $('<div>'+data+'</div>').find('a').each(function(){
            jsonOBJ.push({
              name: $(this).text()
            });

          });
          //console.log(jsonOBJ);
            var data_compiled = $('<div>'+data+'</div>').find('a:first');
            var href = $('<div>'+data+'</div>').find('a').attr('href');
            $(data_compiled).attr('href', 'https://nomadlist.com/petracca'+href);
            $( ".myDiv" ).html( JSON.stringify(jsonOBJ) );
          });
      });
    </script>
  </body>
</html>
